@{
    ViewData["Title"] = "Kaydol";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<div>
    <div class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Şimdi Kaydol</h3>
            <h5 class="tittle">
                @{
                    @if (ViewBag.kayitbasarili != null && ViewBag.kayitbasarili)
                    {

                        <p>Kayıt başarılı bir şekilde tamamlandı.</p>
                        //ViewBag.kayitbasarili = false;
                    }
                }


            </h5>
            <div class="inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form method="POST">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Adı</label>
                                <input type="text" name="Name" id="Name" class="form-control" placeholder="Adı">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Soyadı</label>
                                <input type="text" name="Surname" id="Surname" class="form-control" placeholder="Soyadı">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Email</label>
                                <input type="text" name="Email" id="Email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1 mb-2">Şifre</label>
                                <input type="password" name="Password" id="Password" class="form-control" placeholder="Şifre">
                            </div>
                        </div>
                        <button type="submit" onclick="Save();" class="btn btn-primary submit mb-4">Kaydol</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function Save() {
            var id = document.getElementById("Id").value;
            var name = document.getElementById("Name").value;
            var surname = document.getElementById("Surname").value;
            var email = document.getElementById("Email").value;
            var password = document.getElementById("Password").value;

            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if (name == "" || surname == "" || email == "" || password == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Lütfen boş alan bırakmayınız.',
                    confirmButtonText: 'Tamam'
                }).then(function () {
                    $('#AuthorModal').modal('show');
                });
            }


            else if (!emailReg.test(email)) {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Email hatası.',
                    confirmButtonText: 'Tamam'
                }).then(function () {
                    $('#AuthorModal').modal('show');
                });
            }

            else {

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "@Url.Action("Index", "Register")",
                    data: {
                        Id: id,
                        Name: name,
                        Surname: surname,
                        Email: email,
                        Password: password
                    },
                    success: function (data) {
                        if (data) {
                            swal.fire({
                                icon: 'success',
                                title: 'Basarili!',
                                text: 'Kayıt işlemi başarılı..',
                                confirmButtonText: 'Tamam'
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal.fire({
                                icon: 'error',
                                title: 'Hata!',
                                text: 'Bir hata olustu.',
                                confirmButtonText: 'Tamam'
                            }).then(function () {
                                $('#AuthorModal').modal('show');
                            });
                        }
                    }
                });

            }

        }


    </script>


}