<footer style="background-color: #101010">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Bu Websitesi'ni Kim Tasarladı???</h3>
                <p>Emirhan Sesigür bla bal sdskldhskjdhksjhdksjhdksjhkdsj</p>
                <div class="read">
                    <a href="single.html" class="btn btn-primary read-m">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>Latest Posts</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/CoreBlogTema/images/4.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/CoreBlogTema/images/6.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Haber bültenimize kaydolun</h2>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <input class="form-control" name="email" type="email" placeholder="Enter your email..." required="">
                            <button type="submit" class="btn btn-primary submit" asp-action="Newsletter" asp-controller="Home">Gönder</button>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <p>We respect your privacy.No spam ever!</p>
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="github" href="#">
                                <i class="fab fa-github"></i>
                                <span>GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" href="#">
                                <i class="fab fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © 2018 Weblog. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/">W3layouts</a>
                </p>
            </div>
        </div>


        <!-- //footer -->


    </div>
</footer>