<footer style="background-color: #101010">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <div>
                    <h3 style="color:white;">Bu Websitesi'ni Kim Tasarladı???</h3>
                    <p style="color:white;">Emirhan Sesigür, Bursa Teknik Üniversitesi Bilgisayar Mühendisliği 3. sınıf öğrencisi.</p>

                    <ul>
                        <li class="mx-3">
                            <a class="github" href="https://github.com/emirhansesigur/">
                                <i class="fab fa-github"></i>
                                <span>GitHub</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="linkedin" href="https://www.linkedin.com/in/emirhansesigur/">
                                <i class="fab fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>
                @*<div class="read">
                    <a href="single.html" class="btn btn-primary read-m">Read More</a>
                </div>*@
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>Latest Posts</h3>
                    @*<div class="blog-grids row mb-3">
                    <div class="col-md-5 blog-grid-left">
                    <a href="single.html">
                    <img src="~/CoreBlogTema/images/4.jpg" class="card-img-top img-fluid" alt="">
                    </a>
                    </div>
                    <div class="col-md-7 blog-grid-right">

                    <h5>
                    <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                    </h5>
                    <div class="sub-meta">
                    <span>
                    <i class="far fa-clock"></i> 20 Jan, 2018
                    </span>
                    </div>
                    </div>
                    </div>
                    <div class="blog-grids row mb-3">
                    <div class="col-md-5 blog-grid-left">
                    <a href="single.html">
                    <img src="~/CoreBlogTema/images/6.jpg" class="card-img-top img-fluid" alt="">
                    </a>
                    </div>
                    <div class="col-md-7 blog-grid-right">

                    <h5>
                    <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                    </h5>
                    <div class="sub-meta">
                    <span>
                    <i class="far fa-clock"></i> 20 Jan, 2018
                    </span>
                    </div>
                    </div>

                    </div>*@
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Haber bültenimize kaydolun</h2>
                @*<div class="subscribe-main text-left">
                <div class="subscribe-form">
                <form class="subscribe_form" autocomplete="off">
                <input class="form-control" type="email" id="Email" placeholder="Enter your email..." required="">
                <button type="button" id="SaveNewsLetter"class="btn btn-primary">Gönder</button>
                </form>
                <div class="clearfix"> </div>
            </div>
            <p>We respect your privacy.No spam ever!</p>
        </div>*@
        <!-- //subscribe -->
    </div>
    </div>
    <!-- footer -->
    <div class="footer-cpy text-center">
        <div class="footer-social">
            <div class="copyrighttop">
                <ul>
                    <li class="mx-3">
                        <a class="github" href="https://github.com/emirhansesigur/">
                            <i class="fab fa-github"></i>
                            <span>GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/in/emirhansesigur/">
                            <i class="fab fa-linkedin"></i>
                            <span>LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w3layouts-agile-copyrightbottom">
            <p>
                © 2018 Weblog. All Rights Reserved | Design by
                <a href="http://w3layouts.com/">W3layouts</a>
            </p>
        </div>
    </div>


    <!-- //footer -->
    </div>
</footer>


@*
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function SaveNewsLetter() {
            var email = document.getElementById("Email").value;

            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            // email form kontrol et.

            if (email == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Bir email giriniz.',
                    confirmButtonText: 'Tamam'
                });
            }
            else if (!emailReg.test(email)) {
                swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: 'Email hatası.',
                    confirmButtonText: 'Tamam'
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "@Url.Action("Newsletter", "Home")",
                    data: {
                        Email: email
                    },
                    success: function (data) {
                        if (data) {
                            swal.fire({
                                icon: 'success',
                                title: 'Başarılı!',
                                text: 'Kayıt işlemi başarılı..',
                                confirmButtonText: 'Tamam'
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal.fire({
                                icon: 'error',
                                title: 'Hata!',
                                text: 'Bir hata oluştu.',
                                confirmButtonText: 'Tamam'
                            });
                        }
                    }
                });
            }
        }


        //$('#SaveNewsLetter').click(function () {
        //    console.log("emirhan");

        //    var email = document.getElementById("Email").value;

        //    //var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

        //    // email form kontrol et.

        //    if (email == "") {
        //        swal.fire({
        //            icon: 'error',
        //            title: 'Hata!',
        //            text: 'Bir email giriniz.',
        //            confirmButtonText: 'Tamam'
        //        });
        //    }
        //    else if (!emailReg.test(email)) {
        //        swal.fire({
        //            icon: 'error',
        //            title: 'Hata!',
        //            text: 'Email hatası.',
        //            confirmButtonText: 'Tamam'
        //        });
        //    }
        //    else {
        //        $.ajax({
        //            type: "POST",
        //            dataType: 'json',
        //            url: "@Url.Action("Newsletter", "Home")",
        //            data: {
        //                Email: email
        //            },
        //            success: function (data) {
        //                if (data) {
        //                    swal.fire({
        //                        icon: 'success',
        //                        title: 'Başarılı!',
        //                        text: 'Kayıt işlemi başarılı..',
        //                        confirmButtonText: 'Tamam'
        //                    }).then(function () {
        //                        location.reload();
        //                    });
        //                }
        //                else {
        //                    swal.fire({
        //                        icon: 'error',
        //                        title: 'Hata!',
        //                        text: 'Bir hata oluştu.',
        //                        confirmButtonText: 'Tamam'
        //                    });
        //                }
        //            }
        //        });
        //    }




        //});


    </script>


}

*@